<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Ben McNeill. It uses data from mapbox.com and weatherstack.com</p>

        <img class="portrait" src="/img/portrait.png" alt="">

        <p>An example output of the weather stack api is is shown below:</p>
        <img src="/img/weatherstack-json.png" alt="weatherstack.com api result example">
    </div>

    {{>footer}}
</body>

</html>